
{% extends "base2.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"  href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"> -->
{% endblock %}

{% block page_content %}

<body  class="container pt-3" style="background-color: #f9f6f2;">
    
    <!-- <button><a href="/signup">Sign Up Page</a></button>
    <button><a href="/login">Log in Page</a></button> -->

    <!-- <h1>Posts</h1> -->
    <!-- <button><a href="/createPost">Create Post</a></button> -->

<div>
  <div class="row">

    <!-- PROFILE INFORMATION -->
    <div class="col-xs-4">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h5">@Alias</div>
            <a href="/" class="card-link">Edit Profile</a>

        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">Categories</div>
          <a href="/createCategory" class="card-link"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>

          <!-- <p>THIS IS WHERE TO ADD ALL THE CATEGORIES</p> -->

            <!-- code here to enter in amount of followers jinga -->
            <div class="h5"></div>
        </li>

        <li class="list-group-item">
            <div class="h6 text-muted">Sort Feed</div>
            
            <div class="h5"></div>
        </li> 

        <li class="list-group-item">
            <button type="button" class="btn btn-danger btn-lg btn-block"><a href="/createPost" role="button" style="color: white;">Create Post</a></button>
        </li>       
      </ul>
    </div>

    <h1>Profile</h1>
    
    <!-- POSTS -->
    <div class="col-md-9  admin-content" id="profile">
                <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create Username</h3>
                    </div>
                    <div class="panel-body">
                        {{ wtf.form_field(form.alias, style='font-size=24px;', class='form-control larger form-control-lg', placeholder='Create Alias...') }}


                    </div>
                </div>
                <div class="panel panel-info" style="margin: 1em;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enter Password For Username Change</h3>
                    </div>
                    <div class="panel-body">
                        {{ wtf.form_field(form.password, style='font-size=24px;', class='form-control larger form-control-lg', placeholder='Create Alias...') }}
                    </div>
                </div>
                {% for message in get_flashed_messages() %}
                    <div class="alert-error">{{ message }}</div>
                  {% endfor %}
            </div>
                <!-- Post /////-->

  

    </div>

 </div>
 
</div>


</body>
{% endblock %}



  
