{% extends "bootstrap/base.html" %}
{% block title %} On The Wall {% endblock %}


{% block head %}    
{{ super() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<nav class="navbar bg-transparent">

    <div class="container-fluid">
        <div class="navbar-header ">
            <a class="navbar-brand " style="font-size: 30px; color: #e00000;   font-family: 'Finger Paint', cursive;" href="/"> On The Wall

            </a>
        </div>
         <ul class="nav navbar-nav">
          <li><a href="#"></a></li>
          <li><a href="#" style="color: black"></a></li>
          <li><a href="#" style="color: black"></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
             <li style="font-size: 30px; color: #e00000;">
                <a href="{{ url_for('auth.logout') }}" style="font-size: 30px; color: #e00000;"> 
                    <span style="font-size: 30px; color: #e00000;"class="glyphicon glyphicon-log-out"></span>
                Log Out</a>
            </li>
          {% endif %}
        </ul>
    
    </div>
</nav>
{% endblock %}


{% block content %}
<div>
    {% block page_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
