{% extends "bootstrap/base.html" %}

{% block title %} On The Wall {% endblock %}


{% block head %}
{{ super() }}

<nav class="navbar bg-transparent">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white; font-size: 30px;" href="/">On The Wall</a>
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
