{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Create Post{% endblock %}

{% block style %}
  {{ super () }}
  .alert-error {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border: 2px solid darkred;
    background-color: red;
    color: white;
  }
{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css"  href= "{{ url_for('static',filename='styles/index.css') }}">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block page_content %}
<body class="container">
	<h1 style="text-align: center;">Create New Post</h1>
	<div class="col-md-7 col-md-offset-2">
        <div class="panel">
            <div class="panel-body">
            	{{ wtf.quick_form(form) }}
            	
            	<!-- {{ wtf.form_field(form.postContent, class='form-control', placeholder='What are you thinking?')}} -->
        		<!-- <textarea class="form-control" rows="2" placeholder="What are you thinking?"></textarea> -->
        	</div>
            {% for message in get_flashed_messages() %}
                <div class="alert-error">{{ message }}</div>
            {% endfor %}
        </div>
</body>
{% endblock %} 