{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
  <link rel="stylesheet" type="text/css"  href= "{{ url_for('static',filename='styles/index.css') }}">
  
{% endblock %}

{% block page_content %}
<body class="container">
	<h1>Posts</h1>
	<button><a href="/createPost">Create Post</a></button>
	<ul class="list-group">
	{% for post in posts %} 
		{% for category in categories %}
			{% if post.categoryId == category.id %}
			<li class="list-group-item">
				<h2>{{ post.title }}</h2>
				<a href = "{{ url_for('feed.viewPostsInCategory', categoryId=category.id) }}" >{{ category.title }} </a>
				<h4>Anonymous</h4>
				<button><a href="/posts/{{post.postId}}">View</a></button>
				{% if current_user.check_like(post)%}
					<a href="{{ url_for('feed.likePost', postId=post.postId, action='unlike') }}">Unlike</a>
				{% else %}
					<a href="{{ url_for('feed.likePost', postId=post.postId, action='like') }}">Like</a>
				{% endif %}
			{% endif %}
			</li>
		{% endfor %}	
	{% endfor %}
  </ul>
  
  {% for category in categories %}
    <h2 href="{{ url_for('feed.viewPostsInCategory', categoryId=category.id) }}">{{ category.title }}</h2>
  {% endfor %}
</body>

{% endblock %}
