{% extends "base3.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css"  href= "{{ url_for('static',filename='styles/landing.css') }}">
{% endblock %}

{% block page_content %}
<section class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">About On The Wall</h1>
        <p class="lead">Sign up to stop feeling lonely!</p>
      </div>
    </div>
  </div>
</section>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section>
{% endblock %}
