{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Post{% endblock %}
{% block style %}
  {{ super () }}
  .alert-error {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border: 2px solid darkred;
    background-color: red;
    color: white;
  }
{% endblock %}

{% block head %}
	{{ super() }}
    <link rel="stylesheet" type="text/css"  href= "{{ url_for('static',filename='styles/index.css') }}">
   
{% endblock %}

{% block page_content %}
<body class="container">
    <h2>{{ post.title }}</h2>
    <h4>Anonymous</h4> 
    <p>{{ post.content }}</p>

    <h4>Comments: </h4>
    <ul class="list-group">
        {% for comment in comments %} 
            <li class="list-group-item">
                <p>{{ comment.content }}</p>
            </li>
        {% endfor %}
    </ul>

</body>

{{ wtf.quick_form(form) }}
{% for category, message in get_flashed_messages() %}
    <div class="alert-error">{{ message }}</div>
{% endfor %}

{% endblock %}